# ADM-HW4: GROUP #10

#### Xavier Del Giudice


| STUDENT |   ID    |                 E-mail                  |
| :-: |:-------:|:---------------------------------------:|
| Xavier Del Giudice | 1967219 | delgiudice.1967219@studenti.uniroma1.it |
|  Valeria Avino| 1905974 |   avino.1905974@studenti.uniroma1.it                                      |
|  |  |                       |

## Import and Install required packages

In [9]:
%pip install pandas numpy

Requirement already satisfied: pandas in c:\users\val\appdata\local\programs\python\python312\lib\site-packages (2.2.3)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy in c:\users\val\appdata\local\programs\python\python312\lib\site-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\val\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\val\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\val\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\val\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [1]:
import pandas as pd
import numpy as np
import re
import time

# 1. Recommendation System with LSH

## 1.1 Data Preparation

Reading the dataset and checking (if any) missing data.

In [11]:
#reading from our dataset
genome_scores = pd.read_csv('MovieLens/genome_scores.csv')
genome_tags = pd.read_csv('MovieLens/genome_tags.csv')
link = pd.read_csv('MovieLens/link.csv')
movie = pd.read_csv('MovieLens/movie.csv')
rating = pd.read_csv('MovieLens/rating.csv')
tags = pd.read_csv('MovieLens/tag.csv')

In [12]:
genome_scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11709768 entries, 0 to 11709767
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   movieId    int64
 1   tagId      int64
 2   relevance  float64
dtypes: float64(1), int64(2)
memory usage: 268.0 MB

In [13]:
#checking missing values
missing_values = genome_scores.isnull().sum()
missing_values[missing_values > 0]

Series([], dtype: int64)

In [14]:
genome_scores.duplicated().sum()

0

scores dataset has no missing values or duplicated rows

In [15]:
genome_tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1128 entries, 0 to 1127
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tagId   1128 non-null   int64
 1   tag     1128 non-null   object
dtypes: int64(1), object(1)
memory usage: 17.8+ KB

In [16]:
missing_values = genome_tags.isnull().sum()
missing_values[missing_values > 0]

Series([], dtype: int64)

In [17]:
genome_tags.duplicated().sum()

0

In [18]:
link.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27278 non-null  int64
 1   imdbId   27278 non-null  int64
 2   tmdbId   27026 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 639.5 KB

In [19]:
missing_values = link.isnull().sum()
missing_values[missing_values > 0]

tmdbId    252
dtype: int64

In [20]:
link.duplicated().sum()

0

In [21]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27278 non-null  int64
 1   title    27278 non-null  object
 2   genres   27278 non-null  object
dtypes: int64(1), object(2)
memory usage: 639.5+ KB

In [22]:
movie.duplicated().sum()

0

In [23]:
missing_values = movie.isnull().sum()
missing_values[missing_values > 0]

Series([], dtype: int64)

In [24]:
rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  object
dtypes: float64(1), int64(2), object(1)
memory usage: 610.4+ MB

In [25]:
missing_values = rating.isnull().sum()
missing_values[missing_values > 0]

Series([], dtype: int64)

In [26]:
rating.duplicated().sum()

0

In [27]:
rating = rating.rename(columns={'timestamp':'rating_timestamp'})
rating.head()

   userId  movieId  rating     rating_timestamp
0       1        2     3.5  2005-04-02 23:53:47
1       1       29     3.5  2005-04-02 23:31:16
2       1       32     3.5  2005-04-02 23:33:39
3       1       47     3.5  2005-04-02 23:32:07
4       1       50     3.5  2005-04-02 23:29:40

In [28]:
highest_rated = rating.loc[rating['rating'].idxmax(), 'movieId']
lowest_rated = rating.loc[rating['rating'].idxmin(), 'movieId']
#reading titles from movie dataset
print(f'The highest rated movie is {movie.loc[movie['movieId'] == highest_rated, 'title' ].values[0]} ')
print(f'The lowest rated movie is {movie.loc[movie['movieId'] == lowest_rated, 'title'].values[0]} ')

The highest rated movie is Lord of the Rings: The Fellowship of the Ring, The (2001)
The lowest rated movie is Nemesis 2: Nebula (1995)

In [29]:
# splitting genres column to do store it as a list
movie['genres'] = movie['genres'].str.split('|')
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),[Comedy]

In [30]:
tags.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465564 entries, 0 to 465563
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     465564 non-null  int64
 1   movieId    465564 non-null  int64
 2   tag        465548 non-null  object
 3   timestamp  465564 non-null  object
dtypes: int64(2), object(2)
memory usage: 14.2+ MB

In [31]:
missing_values = tags.isnull().sum()
missing_values[missing_values > 0]
#we could drop this rows or just keep them to check which user did not give a tag for which movies

tag    16
dtype: int64

In [32]:
tags.duplicated().sum()

0

In [33]:
tags = tags.rename(columns={'timestamp':'tag_timestamp'})
tags.head()

   userId  movieId            tag        tag_timestamp
0      18     4141    Mark Waters  2009-04-24 18:19:40
1      65      208      dark hero  2013-05-10 01:41:18
2      65      353      dark hero  2013-05-10 01:41:19
3      65      521  noir thriller  2013-05-10 01:39:43
4      65      592      dark hero  2013-05-10 01:41:18

### Merging the datasets on common columns

In [34]:
#merging tags and genom_tags on 'tag' column
merged_tags = pd.merge(tags, genome_tags, on ='tag', how = 'left')
merged_tags.head()

   userId  movieId            tag        tag_timestamp  tagId
0      18     4141    Mark Waters  2009-04-24 18:19:40    NaN
1      65      208      dark hero  2013-05-10 01:41:18  288.0
2      65      353      dark hero  2013-05-10 01:41:19  288.0
3      65      521  noir thriller  2013-05-10 01:39:43  712.0
4      65      592      dark hero  2013-05-10 01:41:18  288.0

In [35]:
#tag ids are converted into floats because od Nan values
#let's convert them back to nullable ints
merged_tags['tagId'] = merged_tags['tagId'].astype('int64',errors='ignore')

In [36]:
merged_tags.head()

   userId  movieId            tag        tag_timestamp  tagId
0      18     4141    Mark Waters  2009-04-24 18:19:40    NaN
1      65      208      dark hero  2013-05-10 01:41:18  288.0
2      65      353      dark hero  2013-05-10 01:41:19  288.0
3      65      521  noir thriller  2013-05-10 01:39:43  712.0
4      65      592      dark hero  2013-05-10 01:41:18  288.0

In [37]:
# joining the genome_scores to add the tag relevance
merged_tag = pd.merge(merged_tags, genome_scores, on = ['movieId', 'tagId'], how='left')

In [38]:
merged_tag.head()

   userId  movieId            tag        tag_timestamp  tagId  relevance
0      18     4141    Mark Waters  2009-04-24 18:19:40    NaN        NaN
1      65      208      dark hero  2013-05-10 01:41:18  288.0    0.94950
2      65      353      dark hero  2013-05-10 01:41:19  288.0    0.99800
3      65      521  noir thriller  2013-05-10 01:39:43  712.0    0.98900
4      65      592      dark hero  2013-05-10 01:41:18  288.0    0.99775

In [39]:
df = pd.merge(rating, merged_tag, on = ['userId', 'movieId'], how = 'left')
df.head()

,userId,movieId,rating,rating_timestamp,tag,tag_timestamp,tagId,relevance
0,1,2,3.5,2005-04-02 23:53:47,NaN,NaN,NaN,NaN
1,1,29,3.5,2005-04-02 23:31:16,NaN,NaN,NaN,NaN
2,1,32,3.5,2005-04-02 23:33:39,NaN,NaN,NaN,NaN
3,1,47,3.5,2005-04-02 23:32:07,NaN,NaN,NaN,NaN
4,1,50,3.5,2005-04-02 23:29:40,NaN,NaN,NaN,NaN

In [40]:
df = pd.merge( df, movie, on ='movieId', how='left')

In [41]:
df.head()

,userId,movieId,rating,rating_timestamp,tag,tag_timestamp,tagId,relevance,title,genres
0,1,2,3.5,2005-04-02 23:53:47,NaN,NaN,NaN,NaN,Jumanji (1995),"[Adventure, Children, Fantasy]"
1,1,29,3.5,2005-04-02 23:31:16,NaN,NaN,NaN,NaN,"City of Lost Children, The (Cité des enfants p...","[Adventure, Drama, Fantasy, Mystery, Sci-Fi]"
2,1,32,3.5,2005-04-02 23:33:39,NaN,NaN,NaN,NaN,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),"[Mystery, Sci-Fi, Thriller]"
3,1,47,3.5,2005-04-02 23:32:07,NaN,NaN,NaN,NaN,Seven (a.k.a. Se7en) (1995),"[Mystery, Thriller]"
4,1,50,3.5,2005-04-02 23:29:40,NaN,NaN,NaN,NaN,"Usual Suspects, The (1995)","[Crime, Mystery, Thriller]"

In [42]:
df['userId'] = df['userId'].astype('int64')
df['tagId'] = df['tagId'].astype('int64', errors= 'ignore')
df.head()

,userId,movieId,rating,rating_timestamp,tag,tag_timestamp,tagId,relevance,title,genres
0,1,2,3.5,2005-04-02 23:53:47,NaN,NaN,NaN,NaN,Jumanji (1995),"[Adventure, Children, Fantasy]"
1,1,29,3.5,2005-04-02 23:31:16,NaN,NaN,NaN,NaN,"City of Lost Children, The (Cité des enfants p...","[Adventure, Drama, Fantasy, Mystery, Sci-Fi]"
2,1,32,3.5,2005-04-02 23:33:39,NaN,NaN,NaN,NaN,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),"[Mystery, Sci-Fi, Thriller]"
3,1,47,3.5,2005-04-02 23:32:07,NaN,NaN,NaN,NaN,Seven (a.k.a. Se7en) (1995),"[Mystery, Thriller]"
4,1,50,3.5,2005-04-02 23:29:40,NaN,NaN,NaN,NaN,"Usual Suspects, The (1995)","[Crime, Mystery, Thriller]"

In [43]:
print(df.rating.isnull().sum())

0

In [2]:
df = pd.read_csv('complete_dataset.csv')

In [3]:
df.shape

(20265625, 10)

## 1.2 Minhash Signatures
Using the __`userId`__ and __`movieId`__ columns, implement your own **MinHash** function.
This function will hash each user's watched movie list, creating a representation that allows for quick comparisons of user similarities.

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.ml.linalg import Vectors
from pyspark.sql.functions import udf, collect_set
from scipy.sparse import csr_matrix
from pyspark.sql.types import StructType, StructField, IntegerType, ArrayType

In [4]:
from functions import *

In [16]:
!pip install --upgrade pyarrow

Collecting pyarrow
  Downloading pyarrow-18.1.0-cp312-cp312-win_amd64.whl.metadata (3.4 kB)
Downloading pyarrow-18.1.0-cp312-cp312-win_amd64.whl (25.1 MB)
   ---------------------------------------- 0.0/25.1 MB ? eta -:--:--
   ---------------------------------------- 0.0/25.1 MB ? eta -:--:--
   ---------------------------------------- 0.3/25.1 MB ? eta -:--:--
    --------------------------------------- 0.5/25.1 MB 1.2 MB/s eta 0:00:21
   - -------------------------------------- 0.8/25.1 MB 1.1 MB/s eta 0:00:22
   - -------------------------------------- 1.0/25.1 MB 1.3 MB/s eta 0:00:20
   -- ------------------------------------- 1.6/25.1 MB 1.4 MB/s eta 0:00:17
   -- ------------------------------------- 1.8/25.1 MB 1.4 MB/s eta 0:00:17
   --- ------------------------------------ 2.1/25.1 MB 1.4 MB/s eta 0:00:17
   --- ------------------------------------ 2.4/25.1 MB 1.4 MB/s eta 0:00:16
   ---- ----------------------------------- 2.6/25.1 MB 1.4 MB/s eta 0:00:17
   ---- ----------------------------------- 2.9/25.1 MB 1.4 MB/s eta 0:00:17
   ----- ---------------------------------- 3.1/25.1 MB 1.4 MB/s eta 0:00:17
   ----- ---------------------------------- 3.4/25.1 MB 1.3 MB/s eta 0:00:17
   ------ --------------------------------- 3.9/25.1 MB 1.3 MB/s eta 0:00:16
   ------ --------------------------------- 4.2/25.1 MB 1.4 MB/s eta 0:00:16
   ------- -------------------------------- 4.5/25.1 MB 1.3 MB/s eta 0:00:16
   ------- -------------------------------- 4.7/25.1 MB 1.3 MB/s eta 0:00:16
   ------- -------------------------------- 5.0/25.1 MB 1.3 MB/s eta 0:00:16
   -------- ------------------------------- 5.2/25.1 MB 1.3 MB/s eta 0:00:16
   -------- ------------------------------- 5.5/25.1 MB 1.3 MB/s eta 0:00:16
   --------- ------------------------------ 5.8/25.1 MB 1.3 MB/s eta 0:00:15
   --------- ------------------------------ 6.0/25.1 MB 1.3 MB/s eta 0:00:15
   ---------- ----------------------------- 6.6/25.1 MB 1.3 MB/s eta 0:00:15
   ---------- ----------------------------- 6.8/25.1 MB 1.3 MB/s eta 0:00:14
   ----------- ---------------------------- 7.1/25.1 MB 1.3 MB/s eta 0:00:14
   ----------- ---------------------------- 7.3/25.1 MB 1.3 MB/s eta 0:00:14
   ------------ --------------------------- 7.6/25.1 MB 1.3 MB/s eta 0:00:14
   ------------ --------------------------- 7.9/25.1 MB 1.3 MB/s eta 0:00:14
   ------------ --------------------------- 8.1/25.1 MB 1.3 MB/s eta 0:00:14
   ------------- -------------------------- 8.7/25.1 MB 1.3 MB/s eta 0:00:13
   ------------- -------------------------- 8.7/25.1 MB 1.3 MB/s eta 0:00:13
   -------------- ------------------------- 8.9/25.1 MB 1.3 MB/s eta 0:00:13
   -------------- ------------------------- 9.2/25.1 MB 1.3 MB/s eta 0:00:13
   --------------- ------------------------ 9.4/25.1 MB 1.3 MB/s eta 0:00:13
   --------------- ------------------------ 9.7/25.1 MB 1.3 MB/s eta 0:00:13
   --------------- ------------------------ 10.0/25.1 MB 1.3 MB/s eta 0:00:12
   ---------------- ----------------------- 10.5/25.1 MB 1.3 MB/s eta 0:00:12
   ----------------- ---------------------- 10.7/25.1 MB 1.3 MB/s eta 0:00:12
   ----------------- ---------------------- 11.0/25.1 MB 1.3 MB/s eta 0:00:11
   ----------------- ---------------------- 11.0/25.1 MB 1.3 MB/s eta 0:00:11
   ----------------- ---------------------- 11.3/25.1 MB 1.3 MB/s eta 0:00:11
   ------------------ --------------------- 11.5/25.1 MB 1.3 MB/s eta 0:00:11
   ------------------ --------------------- 11.8/25.1 MB 1.3 MB/s eta 0:00:11
   ------------------- -------------------- 12.1/25.1 MB 1.3 MB/s eta 0:00:11
   ------------------- -------------------- 12.3/25.1 MB 1.3 MB/s eta 0:00:11
   -------------------- ------------------- 12.6/25.1 MB 1.3 MB/s eta 0:00:10
   -------------------- ------------------- 12.8/25.1 MB 1.3 MB/s eta 0:00:10
   -------------------- ------------------- 13.1/25.1 MB 1.3 MB/s eta 0:00:10
   --------------------- ------------------ 13.4/25.1 MB 1.3 MB/s eta 0:00:10
   --------------------- ------------------ 13.6/25.1 MB 1.3 MB/s eta 0:00:10
   ---------------------- ----------------- 13.9/25.1 MB 1.3 MB/s eta 0:00:09
   ---------------------- ----------------- 14.2/25.1 MB 1.3 MB/s eta 0:00:09
   ---------------------- ----------------- 14.4/25.1 MB 1.3 MB/s eta 0:00:09
   ----------------------- ---------------- 14.7/25.1 MB 1.3 MB/s eta 0:00:09
   ----------------------- ---------------- 14.9/25.1 MB 1.3 MB/s eta 0:00:09
   ------------------------ --------------- 15.2/25.1 MB 1.3 MB/s eta 0:00:08
   ------------------------ --------------- 15.5/25.1 MB 1.3 MB/s eta 0:00:08
   ------------------------- -------------- 15.7/25.1 MB 1.3 MB/s eta 0:00:08
   ------------------------- -------------- 16.0/25.1 MB 1.3 MB/s eta 0:00:08
   -------------------------- ------------- 16.5/25.1 MB 1.3 MB/s eta 0:00:07
   -------------------------- ------------- 16.8/25.1 MB 1.3 MB/s eta 0:00:07
   --------------------------- ------------ 17.0/25.1 MB 1.3 MB/s eta 0:00:07
   --------------------------- ------------ 17.0/25.1 MB 1.3 MB/s eta 0:00:07
   --------------------------- ------------ 17.3/25.1 MB 1.2 MB/s eta 0:00:07
   --------------------------- ------------ 17.6/25.1 MB 1.2 MB/s eta 0:00:07
   ---------------------------- ----------- 17.8/25.1 MB 1.2 MB/s eta 0:00:06
   ---------------------------- ----------- 18.1/25.1 MB 1.2 MB/s eta 0:00:06
   ---------------------------- ----------- 18.1/25.1 MB 1.2 MB/s eta 0:00:06
   ----------------------------- ---------- 18.6/25.1 MB 1.2 MB/s eta 0:00:06
   ------------------------------ --------- 18.9/25.1 MB 1.2 MB/s eta 0:00:05
   ------------------------------ --------- 19.1/25.1 MB 1.2 MB/s eta 0:00:05
   ------------------------------ --------- 19.4/25.1 MB 1.2 MB/s eta 0:00:05
   ------------------------------- -------- 19.7/25.1 MB 1.2 MB/s eta 0:00:05
   ------------------------------- -------- 19.9/25.1 MB 1.2 MB/s eta 0:00:05
   -------------------------------- ------- 20.2/25.1 MB 1.2 MB/s eta 0:00:04
   -------------------------------- ------- 20.4/25.1 MB 1.2 MB/s eta 0:00:04
   --------------------------------- ------ 20.7/25.1 MB 1.2 MB/s eta 0:00:04
   --------------------------------- ------ 21.0/25.1 MB 1.2 MB/s eta 0:00:04
   --------------------------------- ------ 21.2/25.1 MB 1.2 MB/s eta 0:00:04
   --------------------------------- ------ 21.2/25.1 MB 1.2 MB/s eta 0:00:04
   ---------------------------------- ----- 21.5/25.1 MB 1.2 MB/s eta 0:00:03
   ---------------------------------- ----- 21.8/25.1 MB 1.2 MB/s eta 0:00:03
   ----------------------------------- ---- 22.0/25.1 MB 1.2 MB/s eta 0:00:03
   ----------------------------------- ---- 22.3/25.1 MB 1.2 MB/s eta 0:00:03
   ----------------------------------- ---- 22.5/25.1 MB 1.2 MB/s eta 0:00:03
   ------------------------------------ --- 22.8/25.1 MB 1.2 MB/s eta 0:00:02
   ------------------------------------ --- 23.1/25.1 MB 1.2 MB/s eta 0:00:02
   ------------------------------------- -- 23.3/25.1 MB 1.2 MB/s eta 0:00:02
   ------------------------------------- -- 23.6/25.1 MB 1.2 MB/s eta 0:00:02
   -------------------------------------- - 23.9/25.1 MB 1.2 MB/s eta 0:00:02
   -------------------------------------- - 24.1/25.1 MB 1.2 MB/s eta 0:00:01
   -------------------------------------- - 24.4/25.1 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------  24.9/25.1 MB 1.2 MB/s eta 0:00:01
   ---------------------------------------- 25.1/25.1 MB 1.2 MB/s eta 0:00:00
Installing collected packages: pyarrow
Successfully installed pyarrow-18.1.0

In [5]:
all_movies = set(df["movieId"])
user_seen_movies = df.groupby("userId")["movieId"].agg(set).reset_index().rename(columns={"movieId": "seen_movies"})
user_seen_movies['seen_movies'] = user_seen_movies['seen_movies'].apply(list)
user_seen_movies.shape

(138493, 2)

In [6]:
user_seen_movies.head()

   userId                                        seen_movies
0       1  [2, 3081, 4105, 1036, 5146, 541, 29, 32, 4128,...
1       2  [3, 260, 2948, 2951, 1544, 1673, 266, 908, 245...
2       3  [512, 1, 3072, 2053, 2054, 2567, 1544, 2571, 1...
3       4  [6, 519, 520, 10, 19, 531, 32, 420, 165, 548, ...
4       5  [2, 515, 260, 1028, 648, 11, 140, 141, 780, 10...

In [ ]:
''''
if not using pyspark

user_seen_movies['char_vec'] = user_seen_movies['seen_movies'].apply(lambda x: char_vec(x, all_movies))
# Convert the list of characteristic vectors into a DataFrame (matrix form)
char_vec_matrix = np.array(user_seen_movies['char_vec'].tolist())

''''

In [ ]:
# Initialize Spark session
spark = SparkSession.builder \
    .appName("MovieUserMatrix") \
    .config("spark.executor.memory", "32g") \
    .config("spark.driver.memory", "32g") \
    .config("spark.sql.shuffle.partitions", "200") \
    .config("spark.python.worker.timeout", "12000") \
    .getOrCreate()

In [19]:
df_spark = spark.createDataFrame(user_seen_movies)

In [9]:
from functions import char_vec
all_movies_broadcast = spark.sparkContext.broadcast(all_movies)
char_vec_spark_udf = F.udf(char_vec, ArrayType(IntegerType()))
df_spark = df_spark.withColumn("char_vec", char_vec_spark_udf("seen_movies"))

In [11]:
df_spark.printSchema()

root
 |-- userId: long (nullable = true)
 |-- seen_movies: array (nullable = true)
 |    |-- element: long (containsNull = true)
 |-- char_vec: array (nullable = true)
 |    |-- element: integer (containsNull = true)

In order to create the signature matrix for our lists of seen movies we have implemented the following functions in the `functions.py` file:

+ The function `char_vec`  defined  creates a **characteristic vector** for a user's list of seen movies. It iterates over all possible movie IDs (`all_movies`) and assigns a `1` if a movie is in the user's seen list (`seen_movies`), and `0` otherwise. The result is a binary vector indicating the presence or absence of each movie for that user. 

+ The `create_signature` function generates a **MinHash signature** for a given characteristic vector. This signature is a compact representation used in Locality Sensitive Hashing (LSH) to approximate Jaccard similarity efficiently. The function applies a set of **hash functions** to the indices of the vector, updating the signature values **only** for indices where the vector value is `1`. The result is a vector where each entry corresponds to the *minimum hashed index* encountered for each hash function.

## 1.3 Locality-Sensitive Hashing (LSH)

### 1. Bucket Creation

### 2. Query

### 3. Movie Recommendation Logic

### 4. Final Recommendation

# 2. Grouping Movies Together!

## 2.1 Feature Engineering

## 2.2 Choose your features (variables)!

## 2.3 Clustering

## 2.4 Best Algorithm

# 3. Bonus Question

# 4. Algorithmic Question